
* {
    margin: 0%;
}

main {
    background-color: black;
    height: 56vh;
}

header {
    height: auto;
    background-image: linear-gradient(rgb(255,255,255), rgb(0,0,0))
}

#principal {
    margin-left: 95px;
}
 
#logo {
    position: absolute;
    color: aliceblue;
}

h1 {
    font-family: Dancing Script;
    color: aliceblue;
    font-size: 80px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

#nav {
    list-style-type: none;
    color: aliceblue;
    font-size: 28px;
    font-weight: 600;
    font-family: Pacifico;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: aliceblue
}

a:hover {
    color: rgb(254, 133, 4);
    font-size: 29px;
}

#boton {
    margin-bottom: 5%;
    margin-left: 48%;
    font-family: Pacifico;
    font-size: 29px;
    font-weight: 600;
}

#perfil {
    margin-left: 15%;
    margin-right: 15%;
    font-family: Dancing Script;
    font-size: 28px;
    color: aliceblue;
}

#contactos {
    font-size: 21px;
    line-height: 2;
    margin-left: 500px;
    list-style-type: circle;
}

@media screen and (max-width: 380px), (max-height: 690px) {
    body {
        margin: 0;
        padding: 0;
    }
    main {
        height: 490px;
    }
    #logo {
        position: relative;
        width: 80px;
        margin-top: 45px;
        margin-left: 20%;
    } 
    #guillermo {
        font-size: 30px;
        margin-top: 70px;
    }   
    #titulo {
        font-size: 30px;
        margin-top: 60px;
    }
    #nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 1px;
    }
    #perfil {
        font-size: 20px;
        margin-top: 45px;
    }
}

.login {
    background-color: black;
    color: aliceblue;
}
.login li {
    list-style-type: none;
}
.login input {
    width: 270px;
}

.caja {
    width: 20%;
    height: auto;
    margin: 15% 40%;
}
