* {
    margin: 0%;
}
main {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(90, 235, 114));
    height: 70vh;
}

header {
    height: 200px;
    background-color: rgb(255, 255, 255);
}

#principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

#nav {
    list-style-type: none;
    font-size: 23px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(191, 15, 240);
}

#boton {
    margin-top: 5%;
    margin-left: 48%;
    font-size: 23px;
    font-weight: 600;
}