* {
    margin: 0%;
}
main {
    background-image: linear-gradient(rgb(120, 245, 103), orange, rgb(97, 97, 252));
    height: 70vh;
}

header {
    height: 200px;
    background-color: rgb(120, 245, 103);
}

#principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

#nav {
    list-style-type: none;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(15, 94, 240);
}